/*Stili  generali della pagina*/

body{
    background-color: rgb(37, 37, 37);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 20px;
}

/*nav*/

nav{
    background-color: rgb(255, 94, 0);
    display: flex;
    min-height: 75px;
}

#container_nav{
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    color: white;
    z-index: 3;
}

#logo{
    display: flex;
    height: 30px;
}

.sex{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.icons{
    display: flex;
    gap: 10px;
}

/*main*/

/*righe principali*/

/*footer*/

footer{
    background-color:black ;
    color: white;
    display: flex;
    margin: auto;
    min-height: 75px;
}

#container_footer{
    margin: auto;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

#info{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 15px;
}

.icons{
    margin-top: 10px;
    gap: 10px;
    flex-direction: row;
}

